/caschools.html
/caschools_mr.html
/districts.html
/public copy.html
/reopening status eleementary school - district.json
/reopening status high school - district.json
/reopening status middle school - district.json